<!DOCTYPE html>
<html>
  <head>
    <title>Expense</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <div class="topnav">
          <a href="/home">Home</a>
          <a href="/expenses">See Expenses</a>
        </div>
      <h1>Expense Tracker</h1>
     <p>Track your daily expenses, with our new expense tracker!</p>
     <h3>Add Expenses</h3>
    <section class = "insert">
      <form action="/insert" method="post">
      <input type="text" placeholder="Item" name="item" id ="item" />
      <input type="number" placeholder="Cost" name="cost" id ="cost" />
      <select name="Categories" placeholder ="Categories" >
          <option value="Food" name ="cat" id="cat" >Food</option>
          <option value="Travel" name ="cat" id="cat" >Travel</option>
          <option value="Entertainment" name ="cat" id="cat">Entertaiment</option>
          <option value="Fashion" name ="cat" id="cat">Fashion</option>
        </select>
      <button type="submit">Track</button>
    </form>
    </section>
     
    <div>
      <h3>Update Price</h3>
      <form action="/update" method="post">
        <input type="text" placeholder="ID" name="id" />
       <input type="text" placeholder="Item" name="item" />
       <input type="number" placeholder="Cost" name="cost" />
          <button type="submit">Update</button>
      </form>
    </div>
     
     <h3>Delete Expenses</h3>
     <form action="/delete" method="post">
      <input type="text" placeholder="ID" name="id" />
      <!-- <input type="text" placeholder="Item" name="item" /> -->
      <button type="delete">Delete</button>
     </form>
      <div id="message"></div>
      <script src="/main.js"></script>
    </body>
  </body>
</html>
